strict-peer-dependencies=false
auto-install-peers=true
registry=https://registry.npmmirror.com
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=SrBSdwcKjby2SUh+Drok1/ycS3sdIOsE2rd4M0Rn8+6R+r76G79KPyKk/XmOw9bW
